<nav id="main-nav">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/players" class="nav-link">Search Players</a>
        </li>
        <li class="nav-item">
            <a href="/roster" class="nav-link">Your Roster</a>
        </li>
    </ul>
    <div id="sign-out-container">
        <a href="/auth/sign-out" id="sign-out-link">Sign out</a>
    </div>
        
    
    
</nav>