<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <% if (user) { %>
        <h1>Welcome, <%= user.username %>
                <p>
                    <a href="/auth/sign-out">sign out</a>
                </p>
                <div>
                    <a href="/players"><button>Search Players</button></a>
                </div>
                <% } else { %>
                    <h1>Hello, Please Sign-Up.</h1>
                    <a href="/auth/sign-up">sign up</a>
                    <a href="/auth/sign-in">sign in</a>
                    <% } %>

                      
                       
</body>

</html>