<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="homepage/style.css">
    <link rel="stylesheet" href="partials/homepage/style.css">
</head>
<body>
    <div id="container">
        <div id="main-container">
            <% if (user) { %>
                <header>
                    <%- include('partials/navbar') %>
                </header>
                <div class="media-container">
                    <div class="image-container">
                        <img src="roster/assets/NBAlogo2.png" alt="Image">
                    </div>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/vJabLl7fCOE?autoplay=1&si=HCdOqxGbzCOW3VUX"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                        </iframe>
                    </div>
                </div>

                <h2 id="welcome-message">Welcome, <%= user.username %>
                </h2>
                <div id="search-container">
                    <a href="/players" class="button-link"><button id="search-button">Search Players</button></a>
                </div>
                <% } else { %>
                    <h2 id="welcome-message">IT'S IN THE GAME</h2>
                    <div id="auth-links">
                        <a href="/auth/sign-up" id="sign-up-link">Sign up</a>
                        <a href="/auth/sign-in" id="sign-in-link">Sign in</a>
                    </div>
                    <% } %>
        </div>
    </div>
</body>




</html>